html {
  height: 100%;
}

body {
  background-color:linen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

main {
  text-align: center;
}

#datetime {
  background-color: white;
  width: 300px;
  margin: auto;
  border: 1px solid grey;
}

body {
  background-color: #808080;
  opacity: 1;
  background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #000000 40px ), repeating-linear-gradient( #ffffff, #000000 );
}

h1 {
	color: linen;
}
